@import '../../../styles/config';

.app-header {
  background-color: $sisal-dark-gray;

  .row {
    height: $header-height;

    .logo {
      display: flex;
      align-items: center;
      height: 100%;
      img {
       width: 5rem;
      }

      h1 {
        color: $sisal-dark-green;
        height: 100%;
        font-size: 2rem;
        display: flex;
        font-weight: bold;
        margin-bottom: 0;;
        align-items: center;
        justify-content: center;
      }
    }

    button.switch-language {
      height: calc(#{$header-height} - 2rem);
      margin-top: 1rem;
      width: 100%;
    }
  }
}
