@import '../../../styles/config';

.app-header {
  background-color: $sisal-dark-gray;
  .row {
    height: $header-height;
    img {
      height: calc(#{$header-height} - 2rem);
      margin-top: 1rem;
    }
    h1{
      color: $sisal-light-green;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
